pillow
setuptools
youtube-search-python
uvloop
free-proxy
certifi
aiofiles
kurigram
aiohttp
tgcrypto
cryptg
requests
pymongo
pymongo[srv]
git+https://github.com/Ripeey/Conversation-Pyrogram
fp
telethon
urllib3
qrcode
razorpay
pyminizip
python-dotenv
