kurigram>=2.2.25
aiohttp>=3.11.0,<4.0.0
tgcrypto>=1.2.5
cryptg>=0.5.2
requests>=2.32.3
pymongo[srv]>=4.10.0,<5.0.0
git+https://github.com/Ripeey/Conversation-Pyrogram@a39cc9e0c1a689c9904dd5be5419246868daecfb
pyminizip>=0.2.6
python-dotenv>=1.0.1
